<?xml version="1.0" encoding="utf-8"?> 
<connectionStrings>
  <add name="UserDBContext" connectionString="Data Source=JARVIES\SQLEXPRESS;Initial Catalog=gudang_data;User Id=fanny;Password=190505" providerName="System.Data.SqlClient"/>
 <add name="IdentityDB" connectionString="Data Source=JARVIES\SQLEXPRESS;Initial Catalog=gudang_auth;User Id=fanny;Password=190505" providerName="System.Data.SqlClient" /> 
 <add name="ErrLoggerDB" connectionString="Data Source=JARVIES\SQLEXPRESS;Initial Catalog=gudang_auth;User Id=fanny;Password=190505" providerName="System.Data.SqlClient" />
  <add name="MongoDBData" connectionString="mongodb://localhost:27017/gudang" />
</connectionStrings>
   